# Default UE4 project ignores
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Large assets
Content/ParagonHowitzer
Content/InfinityBladeAdversaries
Content/KenneyRacingKit
